# Ignore Python virtual environments
venv/
# macOS system files
.DS_Store
# Python cache files
__pycache__/
*.pyc
# Exclude virtual environment directories
/bin/
/lib/
/pyvenv.cfg
/.env
/.vscode/
torrent_downloader.log
docker-compose.yaml
._docker-compose.yml
._*